<a href="https://colab.research.google.com/github/Onneoul/DataScience/blob/main/202023597_%EA%B9%80%EB%AF%BC%EC%84%B8_%EB%AC%B4%EC%9E%91%EC%A0%95%EB%94%B0%EB%9D%BC%ED%95%98%EA%B8%B04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**스트링**

In [ ]:
paste("The life of", "Pi")
paste("Thie life of", pi)
paste("Q", 1:10, sep=".")
paste0("Q", 1:10)

[1] "The life of Pi"

[1] "Thie life of 3.14159265358979"

 [1] "Q.1"  "Q.2"  "Q.3"  "Q.4"  "Q.5"  "Q.6"  "Q.7"  "Q.8"  "Q.9"  "Q.10"

 [1] "Q1"  "Q2"  "Q3"  "Q4"  "Q5"  "Q6"  "Q7"  "Q8"  "Q9"  "Q10"

In [ ]:
vec <- c("건국대학교", "과학기술대학", "컴퓨터공학과")
paste(vec, collapse = " ")

[1] "건국대학교 과학기술대학 컴퓨터공학과"

In [ ]:
nchar(c("건국대학교", "과학기술대학", "컴퓨터공학과"))
length(c("건국대학교", "과학기술대학", "컴퓨터공학과"))

[1] 5 6 6

[1] 3

In [ ]:
tolower(c("ABC Mart", "T.J.MAX", "Sears"))
toupper(c("ABC Mart", "T.J.MAX", "Sears"))

[1] "abc mart" "t.j.max"  "sears"

[1] "ABC MART" "T.J.MAX"  "SEARS"

In [ ]:
substr("20221030", 1,4)
substr("20221030", 5,6)
substr("20221030", 7,8)

[1] "2022"

[1] "10"

[1] "30"

In [ ]:
fruits <- c ("apple", "banana", "mango")
gsub("a", "A", fruits)

[1] "Apple"  "bAnAnA" "mAngo"

In [ ]:
code <- c("JAVA", "Python", "PHP", "javascript", "C", "R", "C++")
grep("^P", code, value=T)
grep("[a~z]$", code, value=T)
grep("[rR]", code, value=T)
grep("^[a~kA~K]", code, value=T)
grep("[aeiou]", code, value=T)
grep("[aeiou]", code, value=T, ignore.case = T)

[1] "Python" "PHP"

character(0)

[1] "javascript" "R"

character(0)

[1] "Python"     "javascript"

[1] "JAVA"       "Python"     "javascript"

**교통사고통계**

In [ ]:
library(readxl)

In [ ]:
data <- read_xlsx("도로교통공단_시군구별 월별 교통사고 통계_20211231.xlsx")
head(data)

  시도 시군구 발생월 사고건수 사망자수 중상자수 경상자수 부상신고자수
1 서울 종로구 1      69       3        21       66        6
2 서울 종로구 2      54       0        21       46        8
3 서울 종로구 3      66       0        17       65       10
4 서울 종로구 4      51       0        21       39        6
5 서울 종로구 5      62       0        12       68       11
6 서울 종로구 6      70       1        16       69        5

In [ ]:
seoul <- subset(data, 시도 == "서울")
table(seoul$시도)

서울
 300

In [ ]:
table(seoul$시군구)

  강남구   강동구   강북구   강서구   관악구   광진구   구로구   금천구
      12       12       12       12       12       12       12       12
  노원구   도봉구 동대문구   동작구   마포구 서대문구   서초구   성동구
      12       12       12       12       12       12       12       12
  성북구   송파구   양천구 영등포구   용산구   은평구   종로구     중구
      12       12       12       12       12       12       12       12
  중랑구
      12

In [ ]:
idx <- grep("^강", seoul$시군구)
gang <- seoul[idx, ]
table(gang$시군구)
result <- tapply(gang$사고건수, gang$시군구, mean)
print(round(result, 1))

강남구 강동구 강북구 강서구
    12     12     12     12

강남구 강동구 강북구 강서구
 318.3   87.2   84.8  125.1

In [ ]:
cb <- subset(data, 시도=="충북")
table(cb$시군구)

괴산군 단양군 보은군 영동군 옥천군 음성군 제천시 증평군 진천군 청주시 충주시
    12     12     12     12     12     12     12     12     12     12     12

In [ ]:
idx <- grep("시$", cb$시군구)
city <- cb[idx, ]
table(city$시군구)

제천시 청주시 충주시
    12     12     12

In [ ]:
result <- tapply(city$사고건수, city$시군구, mean)
print(round(result, 1))

제천시 청주시 충주시
  58.8  345.1   95.6

**제어문**

In [ ]:
data <- floor(runif(10, 1, 100))
print(data)
even <- c()
for(num in data) {
  if(num %% 2 == 0)
    even <- c(even, num)
}
print(even)

 [1]  2 10 70 85 79 27 96 44 60 92
[1]  2 10 70 96 44 60 92

In [ ]:
even_R <- data[data %% 2 == 0]
print(even_R)

[1]  2 10 70 96 44 60 92

**기업조사결과**

In [ ]:
library(readxl)

In [ ]:
files <- list.files(patter = "S...xlsx")
files

 [1] "S01.xlsx" "S02.xlsx" "S03.xlsx" "S04.xlsx" "S05.xlsx" "S06.xlsx"
 [7] "S07.xlsx" "S08.xlsx" "S09.xlsx" "S10.xlsx" "S11.xlsx" "S12.xlsx"
[13] "S13.xlsx" "S14.xlsx" "S15.xlsx" "S16.xlsx" "S17.xlsx" "S18.xlsx"
[19] "S19.xlsx" "S20.xlsx" "S21.xlsx" "S22.xlsx" "S23.xlsx" "S24.xlsx"
[25] "S25.xlsx" "S26.xlsx" "S27.xlsx" "S28.xlsx" "S29.xlsx" "S30.xlsx"
[31] "S31.xlsx" "S32.xlsx" "S33.xlsx" "S34.xlsx" "S35.xlsx"

In [ ]:
df <- read_xlsx(files[1])
fc <- read_xlsx(files[1])

In [ ]:
for (x in 2:length(files)) {
  tmp <- read_xlsx(files[x])
  tmp <- tmp[1:5, ]
  df <- rbind(df, tmp)
}
str(df)

tibble [175 × 8] (S3: tbl_df/tbl/data.frame)
 $ 번호          : num [1:175] 1 2 3 4 5 1 2 3 4 5 ...
 $ 기업명        : chr [1:175] "오라클" "삼성SDS" "데이타솔루션" "비아이 매트릭스" ...
 $ 주 솔루션     : chr [1:175] "Oracle Big Data SQL" "Brightics AI" "BIGstation" "MATRIX" ...
 $ 소재지        : chr [1:175] "미국 텍사스주, 오스틴" "서울특별시 송파구 올림픽로35길 123" "서울 강남구 언주로 620, 10층" "서울 강남구 선릉로 433 (역삼동, 세방빌딩) 신관 17층" ...
 $ 설립년도      : chr [1:175] "1905년" "1985년" "2011년" "2005년" ...
 $ 매출액        : chr [1:175] "390억 달러" "13조 6,300억 원" "1,005억" "206억" ...
 $ 직원수        : chr [1:175] "135000" "12501" "180" "170" ...
 $ 취업 희망 순위: chr [1:175] "1" "2" "3" "4" ...

In [ ]:
names(df) <- c("no", "company", "solution", "location", "year", "sales", "employee", "rank")
str(df)

tibble [175 × 8] (S3: tbl_df/tbl/data.frame)
 $ no      : num [1:175] 1 2 3 4 5 1 2 3 4 5 ...
 $ company : chr [1:175] "오라클" "삼성SDS" "데이타솔루션" "비아이 매트릭스" ...
 $ solution: chr [1:175] "Oracle Big Data SQL" "Brightics AI" "BIGstation" "MATRIX" ...
 $ location: chr [1:175] "미국 텍사스주, 오스틴" "서울특별시 송파구 올림픽로35길 123" "서울 강남구 언주로 620, 10층" "서울 강남구 선릉로 433 (역삼동, 세방빌딩) 신관 17층" ...
 $ year    : chr [1:175] "1905년" "1985년" "2011년" "2005년" ...
 $ sales   : chr [1:175] "390억 달러" "13조 6,300억 원" "1,005억" "206억" ...
 $ employee: chr [1:175] "135000" "12501" "180" "170" ...
 $ rank    : chr [1:175] "1" "2" "3" "4" ...

In [ ]:
table(df$company)

            KT넥스알                LGCNS             POSCOICT
                  13                   14                    6
                 SAS                SKC&C             SK텔레콤
                   2                    4                   15
        굿모닝아이텍             넷크루즈           다이퀘스트
                   3                    2                    1
        데이터솔루션       데이터스트림즈         롯데정보통신
                   4                    5                   12
        리얼타임테크             메타빌드               모비젠
                   1                    1                    3
        바이브컴퍼니       비아이매트릭스               비투엔
                   7                    1                    1
              사이람              삼성SDS             소프트센
                   1                   22                    1
            솔트룩스            솔트룩스        스마트포캐스트
                   8                    1                    1
  시스트라인터내셔널           시큐레이어     알앤비소프트웨어
                   1                    1                    1
            알에스엔               어니컴                 엑셈
                   2                    2                    1
              엔투엠               오라클             와이즈넛
                   1                    7                    4
            웨어밸리           위세아이텍               위엠비
                   1                    2                    1
      이글루시큐리티               이니텍               이디엄
                   1                    1                    1
            케이사인       코난테크놀로지               코스콤
                   3                    1                    3
        코오롱베니트           투이컨설팅         티맥스소프트
                   1                    2                    3
펜타시스템테크놀러지              한컴MDS              현대HDS
                   2                    1                    2
효성인포메이션시스템
                   1

In [ ]:
library(stringr)
df$company <- toupper(df$company)
df$company <- gsub(" ", "", df$company)
df$company <- str_trim(df$company)
df$company <- gsub("데이타솔루션", "데이터솔루션", df$company)
df$company <- gsub("KTNEXR", "KT넥스알", df$company)
df$company <- gsub("한국오라클", "오라클", df$company)

str_trim - 앞뒤 공백 제거 / 문자열 시작, 끝의 공백과 중간의 공백은 다를 수 있음

In [ ]:
result <- as.data.frame.array(table(df$company, df$rank))
names(result) <- paste0("R", 1:5)
head(result)

         R1 R2 R3 R4 R5
KT넥스알 0  2  3  1  7
LGCNS    5  6  1  2  0
POSCOICT 0  1  3  1  1
SAS      0  0  0  2  0
SKC&C    1  0  0  2  1
SK텔레콤 7  2  5  0  1

In [ ]:
result$score <- result$R1*5 + result$R2*4 + result$R3*3 + result$R4*2 + result$R5*1
result[order(-result$score), ]

                     R1 R2 R3 R4 R5 score
삼성SDS              9  7  4  1  1  88
SK텔레콤             7  2  5  0  1  59
LGCNS                5  6  1  2  0  56
롯데정보통신         2  2  4  3  0  36
오라클               5  1  0  1  0  31
KT넥스알             0  2  3  1  7  26
바이브컴퍼니         1  2  0  2  2  19
솔트룩스             0  2  1  2  4  19
POSCOICT             0  1  3  1  1  16
데이터스트림즈       0  1  1  3  0  13
코스콤               1  1  1  0  0  12
SKC&C                1  0  0  2  1  10
와이즈넛             0  0  2  1  1   9
굿모닝아이텍         0  1  1  0  1   8
데이터솔루션         0  0  2  1  0   8
케이사인             0  1  0  2  0   8
티맥스소프트         0  1  1  0  1   8
어니컴               1  0  0  1  0   7
펜타시스템테크놀러지 1  0  0  1  0   7
투이컨설팅           0  1  0  1  0   6
메타빌드             1  0  0  0  0   5
비투엔               1  0  0  0  0   5
알에스엔             0  0  1  1  0   5
위세아이텍           0  0  1  1  0   5
SAS                  0  0  0  2  0   4
모비젠               0  0  0  1  2   4
소프트센             0  1  0  0  0   4
스마트포캐스트       0  1  0  0  0   4
이니텍               0  1  0  0  0   4
코오롱베니트         0  1  0  0  0   4
현대HDS              0  0  1  0  1   4
다이퀘스트           0  0  1  0  0   3
시큐레이어           0  0  1  0  0   3
이글루시큐리티       0  0  1  0  0   3
넷크루즈             0  0  0  0  2   2
비아이매트릭스       0  0  0  1  0   2
알앤비소프트웨어     0  0  0  1  0   2
엔투엠               0  0  0  1  0   2
한컴MDS              0  0  0  1  0   2
리얼타임테크         0  0  0  0  1   1
사이람               0  0  0  0  1   1
시스트라인터내셔널   0  0  0  0  1   1
엑셈                 0  0  0  0  1   1
웨어밸리             0  0  0  0  1   1
위엠비               0  0  0  0  1   1
이디엄               0  0  0  0  1   1
코난테크놀로지       0  0  0  0  1   1
효성인포메이션시스템 0  0  0  0  1   1

In [ ]:
weight <- c(5:1)
ranks <- c(9, 7, 4, 1, 1)
crossprod(weight, ranks)

     [,1]
[1,] 88

In [ ]:
result1 <- result[, 1:5]

In [ ]:
typeof(result1[1, ])

[1] "list"

In [ ]:
for(x in nrow(result1)) {
  tmp <- result1[x, ]
  result1$score <- crossprod(weight, tmp)
}
head(result1)

ERROR: ignored

In [ ]:
str(result)

'data.frame':	48 obs. of  6 variables:
 $ R1   : int  0 5 0 0 1 7 0 0 0 0 ...
 $ R2   : int  2 6 1 0 0 2 1 0 0 0 ...
 $ R3   : int  3 1 3 0 0 5 1 0 1 2 ...
 $ R4   : int  1 2 1 2 2 0 0 0 0 1 ...
 $ R5   : int  7 0 1 0 1 1 1 2 0 0 ...
 $ score: num  26 56 16 4 10 59 8 2 3 8 ...

In [ ]:
df$rank

  [1] "1" "2" "3" "4" "5" "1" "2" "3" "4" "5" "2" "4" "5" "3" "1" "1" "2" "3"
 [19] "4" "5" "1" "2" "3" "4" "5" "2" "3" "5" "1" "4" "1" "2" "3" "4" "5" "2"
 [37] "1" "5" "3" "4" "1" "2" "3" "4" "5" "1" "2" "3" "4" "5" "1" "2" "3" "4"
 [55] "5" "1" "2" "3" "4" "5" "1" "2" "3" "4" "5" "1" "2" "3" "4" "5" "1" "2"
 [73] "4" "3" "5" "1" "2" "3" "4" "5" "1" "2" "5" "4" "3" "3" NA  "1" NA  "2"
 [91] "2" "4" "3" "5" "1" "1" "3" "2" "5" "4" "1" "2" "3" "4" "5" "1" "4" "2"
[109] "3" "5" "5" "1" "4" "2" "3" "1" "3" "5" "2" "4" "1" "2" "3" "4" "5" "4"
[127] "3" "2" "1" "5" "1" "2" "3" "4" "5" "5" "2" "3" "4" "1" "1" "2" "3" "4"
[145] "5" "1" "2" "3" "4" "5" "4" "1" "3" "5" "2" "1" "2" "3" "4" "5" "1" "2"
[163] "3" "4" "5" "1" "2" "3" "4" "5" "3" "1" "5" "2" "4"